body {
    background-color: #228664;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.cabecalho {
    padding: 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.cabecalho .container {
    display: flex;
    align-items: center;
}

.cabecalho figure img{
    width: 100%;
    max-width: 140px;
}

.cabecalho .cabecalho-logoPicpro {
    border-right: 1px solid #fff;
    margin-right: 15px;
}

.detalhesConta {
    color: #fff;
    padding: 60px 0 30px;
}

.detalhesConta-usuario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.detalhesConta-usuario div {
    display: flex;
    align-items: center;
}

.detalhesConta-usuario div img {
    width: 100%;
    max-width: 30px;
    margin-left: 30px;
    cursor: pointer;
}

.detalhesConta-usuario #user-pic {
    width: 100%;
    max-width: 80px;
    margin: 0;
    cursor: default;
}

.detalhesConta-usuario p {
    font-size: 18px;
    margin-left: 20px;
}

.detalhesConta-usuario img {
    width: 100%;
    max-width: 80px;
}

.detalhesConta-usuario p strong {
    display: block;
    font-weight: bold;
}

.detalhesConta-saldo {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
}

.detalhesConta-saldo p {
    font-size: 18px;
    line-height: 22px;
}

.visualizar-saldo {
    display: flex;
    align-items: center;
}

.detalhesConta-saldo strong {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-right: 10px;
}

.detalhesConta-saldo span img {
    width: 100%;
    max-width: 30px;
    cursor: pointer;
}

.detalhesConta-saldo button {
    background-color: #fff;
    border: none;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 60px;
    border-radius: 10px;
    cursor: pointer;
}

.detalhesConta-saldo button:hover {
    background-color: #dfebe7;
    transition: .5s;
}

.detalhesConta-opcoesTransacoes {
    display: flex;
    justify-content: space-between;
}

.detalhesConta-opcoesTransacoes li {
    background-color: #1F6F54;
    width: 170px;
    height: 177px;
    border-radius: 20px;
    padding: 40px 20px;
    cursor: pointer;
}

.detalhesConta-itemTransacoes:hover{
    background-color: #FFF;
    color: #1F6F54; 
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);   

    transition: .5s;
}

.detalhesConta-itemTransacoes figure {
    background-image: url(./assets/img/qrcode.png);
    background-size: auto;
    background-repeat: no-repeat;

    display: block;
    height: 50px;
    width: 50px;
}

.-qrCode:hover figure {
    background-image: url(./assets/img/qrcode-verde.png);
}

.-pix:hover figure {
    background-image: url(./assets/img/pix-verde.png);
}

.-boleto:hover figure {
    background-image: url(./assets/img/boleto-verde.png);
}

.-cobrar:hover figure {
    background-image: url(./assets/img/cobrar-verde.png);
}

.-qrCode figure {
    background-image: url(./assets/img/qrcode.png);
}

.-pix figure {
    background-image: url(./assets/img/pix.png);
}

.-boleto figure {
    background-image: url(./assets/img/codigo.png);
}

.-cobrar figure {
    background-image: url(./assets/img/cobrar-icon.png);
}


.detalhesConta-itemTransacoes figure img {
   opacity: 0; 
}

.detalhesConta-opcoesTransacoes li img {
    width: 100%;
    max-width: 40px;
}

.detalhesConta-opcoesTransacoes li p {
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    line-height: 25px;
    width: 5rem;
}

.transacao {
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    border-bottom: 15px solid #f0f0f0;
    padding-top: 40px;
    min-height: 450px;
}

.transacao .container, .transacao-qrcode {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transacao .container > div {
    display: none;
}

#banner{
    display: block;
}

.transacao .container div.mostrar{
    display: block;
}

.transacao-inicial p {
    font-size: 25px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    padding: 30px 60px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    text-align: center;
}

.transacao-inicial img {
    width: 100%;
    margin: 30px 0 90px;
}

.transacao-qrcode img {
    width: 100%;
    max-width: 200px;
}

.transacao-qrcode p {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 0 0;
    text-align: center;
}

.transacao-qrcode button {
    background-color: #4a8864;
    border: none;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    margin: 30px 0 20px;
    padding: 15px 150px;
    cursor: pointer;
}

.transacao-qrcode a {
    display: block;
    color: #000;
    font-weight: bold;
    text-align: center;
}

.transacao-pix img {
    width: 100%;
    max-width: 150px;
}

.transacao-opcao {
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    max-width: 500px;
    padding: 14px 10px;
    margin: 20px 0;
}

.transacao-opcao p {
    font-size: 16px;
    line-height: 20px;
}

.transacao-opcao img {
    width: 100%;
    max-width: 80px;
    margin-right: 10px;
}

.transacao-boleto img, .transacao-cobrar img {
    width: 100%;
    max-width: 80px;
}

.transacao-boleto h2, .transacao-cobrar h2 {
    font-size: 20px;
    font-weight: bold;
}

.transacao-boleto p, .transacao-cobrar p{
    font-size: 18px;
    max-width: 500px;
    margin: 20px 0;
}

.transacao-boleto input {
    width: 100%;
    background-color: #f4f4f4;
    font-size: 16px;
    height: 50px;
    padding: 0 80px;
    border-radius: 10px;
    border: 1px solid #d2d2d2;
    color: #000;
    box-sizing: border-box;
}

.transacao-cobrar .transacao-opcao p{
    margin-left: 20px;
}

.rodape {
    background-color: #FFF;
}

.rodape-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.rodape-menu li {
    text-align: center;
}

.rodape-menu li a {
    color: #747474;
    text-decoration: none;
    font-weight: bold;
}

.rodape-menu li a img {
    width: 100%;
    max-width: 40px;
}

.rodape-menu li a p {
    margin-top: 15px;
}

.rodape-menu  .rodape-item-pagar {
    transform: translateY(-35px);
}

.rodape-menu  .rodape-item-pagar a img {
    max-width: 80px;
}
